footer {
        background-color: #F1F1F1;
        text-align: center;
        padding: 10px;
        }

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
}

.navigation {
display: flex;
justify-content: space-evenly;
font-weight: bold;
letter-spacing: 10px;
background-color: black;
padding: 2em;
}

.navigation a {
color: whitesmoke;
}
.published-works img {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.family img {
    display: flex;
    flex-direction: column;
    width: 20%;
}
