footer {
        background-color: black;
        text-align: center;
        padding: 10px;
        }

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    letter-spacing: 2px
}

h1 {
    margin-top: 2.5em;
}

.navigation {
display: flex;
justify-content: space-evenly;
font-weight: bold;
color: whitesmoke;
letter-spacing: 2px;
background-color: black;
padding: 2em;
position: fixed;
top: 0;
width: 100%;

}

nav > a {
    margin-right: 80px;
}

.published-works img {
    display: flex;
    flex-direction: column;
    width: 20%;
}

a:link {
    border: 1px solid black;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}

a:visited {
    border: 1px solid black;
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    border: 1px solid whitesmoke;
}

.family img {
    display: flex;
    flex-direction: column;
    width: 20%;
}
